<div [ngStyle]="isChange && {'display': 'none'}">
  <span (click)="doDone()" [ngClass]="{'done': task.isDone}">{{ task.name }}</span>
  <button class="change-btn" (click)="change($event, nameTask)">Change</button>
  <button class="delete-btn" (click)="delete()">Delete</button>
</div>
<div [ngStyle]="!isChange && {'display': 'none'}" (keyup)="keyup($event)">
  <input type="text" [(ngModel)]="name" #nameTask>
  <button class="add-btn" (click)="approveChange()">OK</button>
  <button class="back-btn" (click)="back()">Back</button>
</div>
