.list-card {
  border: 1px solid aqua;
  width: 400px;
  height: 400px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;

}
.list-card:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.1s;
  opacity: 1;
  background-color: white;
}
.main-wrapper {
  width: 880px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
  margin-top: 50px;
}

.pinned {
  background-color: red;
}
