.list-card {
  border: 1px solid aqua;
  width: 270px;
  height: 200px;
  margin: 10px;
  cursor: pointer;

}
.list-card:hover {
  opacity: 0.6;
}
.main-wrapper {
  width: 880px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
}
